@import "reset";
@import "navBar";
@import "footer";
@import "sideBar";
@import "langpopUp";

.mainLayout {
  position: relative;
  font-family: Roboto, monospace;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    ". mainLayout__header  mainLayout__header ."
    ". mainLayout__body mainLayout__body .";

  &__header {
    grid-area: mainLayout__header;
    font-size: 12px;
    color: white;
    background-color: rgb(22, 122, 198);
    padding: 5px 1px 2px 1px;
    display: block;
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: 760px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content layout__aside";
    grid-area: mainLayout__body;
    grid-gap: 50px;
  }
}

.layout {
  font-family: Roboto, monospace;
  background-color: lightgrey;
}

.content {
  grid-area: content;
  grid-gap: 50px;
  margin: 0 auto;
  gap: 4em;

  &__info {
    background-color: white;
    display: grid;
    grid-template-columns: 100px auto 200px;
    grid-template-rows: 38px 50px 50px 1fr;
    grid-template-areas: "title title title" "avatar channel views" "avatar subscribe views" "buttons buttons buttons";
  }

  &__comment {
    background-color: white;
    display: flex;
    width: 100%;
    height: 10em;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 14px;
  }
}

.loadingComments {
  height: 5em;
}

.title {
  grid-area: title;
  font-weight: 600;
  padding: 10px;
  font-size: 18px;
}

.avatar {
  grid-area: avatar;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 10px;

  &__image {
    height: 100px;
    padding: 0px 10px 0px 0px;
  }
}

.channel {
  grid-area: channel;
  font-weight: 500;
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
  align-self: center;
}

.subscribe {
  grid-area: subscribe;
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 30px;
  padding-left: 10px;

  &__redButton {
    height: 30px;
  }

  &__counter {
    width: 30px;
    height: 26px;
    font-size: 12px;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(173, 186, 199);
    border-left: none;
  }
}

.views {
  grid-area: views;
  width: 180px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: 2px solid blue;
  padding-right: 10px;
  padding-bottom: 10px;
  color: slategrey;
  font-size: 20px;
}

.buttons {
  grid-area: buttons;
  display: flexbox;
  align-items: center;
  color: slategray;
  padding: 10px;

  &__left {
    float: left;
    padding-left: 15px;
  }

  &__Buttons {
    border: none;
    background-color: transparent;
    color: slategrey;
    font-size: 12px;
    align-content: center;
  }

  &__right {
    float: right;
    padding-right: 20px;
  }
}

.infoButtons {
  height: 25px;
}
.description {
  padding: 20px;
  background-color: white;
  color: rgb(49, 49, 49);
  &__date {
    font-size: 14px;
    padding-bottom: 10px;
  }
  &__content {
    font-size: 12px;
  }
}
